.card {
  height: 450px;
  width: 275px;
  background-color: green;
  border-radius: 5em;
}

button {
  background-color: transparent;
  border: none;
}

.topHalf {
  height: 50%;
  border-radius: 5em;
  background-size: cover;
  background-repeat: no-repeat;
}

.img {
  border-radius: 5em;
  height: 50%;
  object-fit: cover;
  width: 100%;
}

.upvote {
  height: 100px;
  width: 100px;
}
