.card {
  height: 1500px;
  width: 1000px;
  background-color: green;
  border-radius: 15em;
}

button {
  background-color: transparent;
  border: none;
}

.topHalf {
  height: 50%;
  background-image: url("https://images.pexels.com/photos/20787/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350");
  border-radius: 15em;
  background-size: cover;
  background-repeat: no-repeat;
}

.upvote {
  height: 200px;
  width: 200px;
}
